<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GEMINI_API_KEY</key>
	<string>YOUR_GEMINI_API_KEY_HERE</string>
	<key>STRIPE_PUBLISHABLE_KEY</key>
	<string>YOUR_STRIPE_PUBLISHABLE_KEY_HERE</string>
	<key>STRIPE_SECRET_KEY</key>
	<string>YOUR_STRIPE_SECRET_KEY_HERE</string>
	<key>ANALYTICS_KEY</key>
	<string>YOUR_ANALYTICS_KEY_HERE</string>
</dict>
</plist> 